@font-face
  font-family: KPN-Accent
  src: url('http://www.kpn.com/kpnstatic/font/KPN-Accent/KPN-Accent-Normal.eot')
  src: local("â€šÃ²âˆ«"), url('http://www.kpn.com/kpnstatic/font/KPN-Accent/KPN-Accent-Normal.woff') format("woff"), url('http://www.kpn.com/kpnstatic/font/KPN-Accent/KPN-Accent-Normal.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: KPN-Sans
  src: url('http://www.kpn.com/kpnstatic/font/KPN-Sans/KPN-Sans-Normal.eot')
  src: local("â€šÃ²âˆ«"), url('http://www.kpn.com/kpnstatic/font/KPN-Sans/KPN-Sans-Normal.woff') format("woff"), url('http://www.kpn.com/kpnstatic/font/KPN-Sans/KPN-Sans-Normal.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: KPN-Sans-Bold
  src: url('http://www.kpn.com/kpnstatic/font/KPN-Sans/KPN-Sans-Bold.eot')
  src: local("â€šÃ²âˆ«"), url('http://www.kpn.com/kpnstatic/font/KPN-Sans/KPN-Sans-Bold.woff') format("woff"), url('http://www.kpn.com/kpnstatic/font/KPN-Sans/KPN-Sans-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal


strong
  font-weight: bold